<!doctype html>

<!--[if lt IE 7]>      <html lang="en" ng-app="coastal" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="coastal" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="coastal" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="tides" class="no-js"> <!--<![endif]-->

	<head>
		<title>Tides</title>

		<!-- meta -->
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="Micro Service Management System">

    <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#3372DF">

    <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png" />

		<!-- css -->
			<!-- typefaces -->
			<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Roboto:500,900,400italic,100,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

			<!-- angular material -->
            <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">

			<!-- highlight.js -->
            <link rel="stylesheet" href="node_modules/highlight.js/styles/default.css">

            <!-- material design color palette -->
            <link rel="stylesheet" href="node_modules/material-design-color-palette/css/material-design-color-palette.css">

			<!-- animate -->
            <link rel="stylesheet" href="node_modules/animate.css/animate.css">

			<!-- toaster -->
            <link rel="stylesheet" href="node_modules/angularjs-toaster/toaster.css">

			<!-- higgs -->
			<link rel="stylesheet" href="tides.css">
	</head>

	<body layout="column" class="mdc-bg-blue-grey-200">
        <!-- <md-toolbar>
            <div class="md-toolbar-tools mdc-bg-blue-grey-900">
                <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                    <md-icon aria-label="Menu" class="material-icons">
                        menu
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar> -->

		<toaster-container>
			<!-- feedback -->
		</toaster-container>

		<md-toolbar class="animated fadeInDown" ng-show="authenticated">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon class="md-icons">
                  menu
              </md-icon>
            </md-button>

            <a href="#/dashboard" alt="Higs Field">
                <img src="images/tides.png" class="animated fadeIn" flex="15" ng-cloak/>
            </a>

            <!-- <input ng-model="search" flex placeholder="search" class="mdc-text-grey-200" ng-cloak> -->
          </div>
        </md-toolbar>

        <div layout="row" flex>
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z4 mdc-bg-blue-grey-800 animated slideInLeft" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-show="authenticated">


				<md-content layout-padding class="mdc-bg-blue-grey-800">
					<!-- <h2 class="md-subhead no-margin text-center mdc-text-blue-grey-500">
			            Microservices
			        </h2> -->

					<md-list>
						<md-subheader class="md-no-sticky mdc-bg-blue-grey-800 mdc-text-blue-grey-200">Meetings</md-subheader>

						<a href="#/agendas">
							<md-list-item class="mdc-text-blue-grey-200">
		                        <md-icon aria-label="Delete" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            assignment
		                        </md-icon>

								<p>Agendas</p>
							</md-list-item>

							<md-divider></md-divider>
						</a>

						<!-- <a href="#/results">
							<md-list-item class="mdc-text-blue-grey-200">
		                        <md-icon aria-label="Delete" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            assignment_turned_in
		                        </md-icon>

								<p>Results</p>
							</md-list-item>

							<md-divider></md-divider>
						</a> -->

						<a href="#/reports">
							<md-list-item class="mdc-text-blue-grey-200">
		                        <md-icon aria-label="Assignment" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            description
		                        </md-icon>

								<p>Reports</p>
							</md-list-item>

							<!-- <md-divider></md-divider> -->
						</a>

						<!-- <a href="#/slides">
							<md-list-item class="mdc-text-blue-grey-200">
		                        <md-icon aria-label="Assignment" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            slideshow
		                        </md-icon>

								<p>Slide Decks</p>
							</md-list-item>
						</a> -->

						<md-subheader class="md-no-sticky mdc-bg-blue-grey-800 mdc-text-blue-grey-200">Communications</md-subheader>

						<a href="#/press">
							<md-list-item class="mdc-text-blue-grey-200">
		                        <md-icon aria-label="Delete" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            format_quote
		                        </md-icon>

								<p>Press Pieces</p>
							</md-list-item>
						</a>

						<md-subheader class="md-no-sticky mdc-bg-blue-grey-800 mdc-text-blue-grey-200">Mapping &amp; GIS</md-subheader>

						<a href="#/cleanup">
							<md-list-item class="mdc-text-blue-grey-200">
		                        <md-icon aria-label="Delete" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            public
		                        </md-icon>

								<p>Cleanup Day Locations</p>
							</md-list-item>

							<md-divider></md-divider>
						</a>

						<a href="#/access" class="mdc-text-blue-grey-200">
							<md-list-item>
		                        <md-icon aria-label="Beach Access" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            beach_access
		                        </md-icon>

		                        <p>Access Locations</p>
							</md-list-item>
						</a>

						<md-divider></md-divider>

						<!-- <md-subheader class="md-no-sticky mdc-bg-blue-grey-800 mdc-text-blue-grey-200">Management</md-subheader> -->

						<!-- <a href="#/access" class="mdc-text-blue-grey-200">
							<md-list-item>
		                        <md-icon aria-label="Beach Access" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            face
		                        </md-icon>

		                        <p>Staff</p>
							</md-list-item>
						</a> -->

						<!-- <md-divider></md-divider>

						<a href="#/access" class="mdc-text-blue-grey-200">
							<md-list-item>
		                        <md-icon aria-label="Beach Access" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            tune
		                        </md-icon>

		                        <p>Settings</p>
							</md-list-item>
						</a>

						<md-divider></md-divider> -->

						<a href="" ng-click="logout()" class="mdc-text-blue-grey-200">
							<md-list-item>
		                        <md-icon aria-label="Beach Access" class="mdc-text-blue-grey-200 material-icons md-avatar-icon">
		                            fingerprint
		                        </md-icon>

		                        <p>Log Out</p>
							</md-list-item>
						</a>
					</md-list>
				</md-content>
            </md-sidenav>

            <div layout="column" flex id="content" class="mdc-bg-blue-grey-200" ng-view>
                <!-- content -->

				<!-- <footer class="mdc-bg-blue-grey-200 animated fadeInUp">
			        <p class="text-center mdc-text-blue-grey-400">
						<small>
				            Made with <md-icon class="material-icons mdc-text-blue-grey-400">favorite</md-icon> by <a href="http://thedisruptory.io" target="_blank" class="mdc-text-blue-grey-400"><strong>The Disruptory</strong></a>
						</small>
			        </p>
			    </footer> -->
            </div> <!-- end #content -->


        </div> <!-- end .row -->

        <!-- js -->
          <!-- angularjs -->
          <script src="node_modules/angular/angular.js"></script>

          <!-- angular community modules -->
    	  		<script src="node_modules/angular-route/angular-route.js"></script>
    			<script src="node_modules/angular-resource/angular-resource.js"></script>
				<script src="node_modules/angular-cookies/angular-cookies.js"></script>
                <script src="node_modules/angular-animate/angular-animate.js"></script>
                <script src="node_modules/angular-aria/angular-aria.js"></script>
				<script src="node_modules/angularjs-toaster/toaster.js"></script>

    			<!-- angular material -->
    			<script src="node_modules/angular-material/angular-material.js"></script>

				<!-- angular marked -->
				<script src="node_modules/angular-marked/node_modules/marked/marked.min.js"></script>
				<script src="node_modules/highlight.js/lib/highlight.js"></script>
    			<script src="node_modules/angular-marked/dist/angular-marked.js"></script>

				<!-- jquery -->
				<script src="bower_components/jquery/dist/jquery.js"></script>

				<!-- jquery file upload -->
				<script src="bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
				<script src="bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
				<script src="bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
				<!-- end jquery file upload related -->
				<script src="bower_components/cloudinary_js/js/jquery.cloudinary.js"></script>

				<!-- angular file upload shim -->
				<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>

				<!-- cloudinary angular -->
				<script src="bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>

				<!-- angular file upload -->
				<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>

          <!-- higs modules -->
            <!-- app -->
            <script src="tides.js"></script>

			<!-- services -->
            <script src="services.js"></script>

            <!-- pages -->
			<script src="pages/login/login.js"></script>
            <script src="pages/dashboard/dashboard.js"></script>
			<script src="pages/agendas/agendas.js"></script>
			<script src="pages/reports/reports.js"></script>
			<script src="pages/slides/slides.js"></script>
			<script src="pages/press/press.js"></script>
			<script src="pages/cleanup/cleanup.js"></script>
			<script src="pages/access/access.js"></script>
			<script src="pages/add/add.js"></script>

    			<!-- elements -->
    </body>
</html>
