<md-content flex class="mdc-bg-blue-grey-200" ng-controller="agendaController as agendaCtrl">
    <div layout="row" class="md-padding">
        <div layout="column" flex="15">
            <div class="mdc-text-blue-grey-800" flex="100" layout="row" layout-align="center center">
                <md-input-container class="md-icon-float md-block" flex="100">
                    <label>Search</label>
                    <md-icon >
                        search
                    </md-icon>
                    <input ng-model="agendaCtrl.search" type="search">
                </md-input-container>
            </div>

            <md-list>
                <md-list-item ng-repeat="agenda in agendaCtrl.agendas | filter:search" ng-click="agendaCtrl.editAgenda(agenda)" class="mdc-text-blue-grey-800">
                    <p class="text-center"><strong>{{ agenda.month }}</strong> {{ agenda.year }}</p>

                    <md-divider></md-divider>
                </md-list-item>
            </md-list> <!-- end row -->
        </div>


        <div layout="column" flex="75" flex-offset="5">
            <div class="hero mdc-bg-blue-grey-600" ng-if="!agendaCtrl.editingAgenda && !agendaCtrl.editingDistrict && !agendaCtrl.editingCategory && !agendaCtrl.editingItem">
                <h1 class="md-display-1 text-center mdc-text-grey-100">
                    Select an Agenda on the Left
                </h1>
            </div> <!-- end .hero -->

            <div class="hero mdc-bg-blue-grey-600" ng-if="agendaCtrl.editingAgenda && !agendaCtrl.editingDistrict && !agendaCtrl.editingCategory && !agendaCtrl.editingItem">
                <div layout="row" flex>
                    <md-input-container layout="column" flex="25" flex-offset="20">
                        <label>Month</label>
                        <input ng-model="agendaCtrl.editingAgenda.month" class="text-center">
                    </md-input-container>

                    <md-input-container layout="column" flex="25" flex-offset="5">
                        <label>Year</label>
                        <input ng-model="agendaCtrl.editingAgenda.year" class="text-center">
                    </md-input-container>
                </div> <!-- end row -->
            </div> <!-- end .hero -->


            <div class="hero mdc-bg-blue-grey-600 md-padding" layout="row" ng-if="agendaCtrl.editingDistrict">
                <h3>
                    <md-icon class="mdc-text-grey-100" ng-click="backToAgenda(agendaCtrl.editingAgenda)" flex>
                        arrow_back
                    </md-icon>
                </h3>

                <h1 class="md-display-1 text-center mdc-text-grey-100" flex>
                    {{ agendaCtrl.editingDistrict.name }}
                </h1>
            </div> <!-- end .hero -->


            <div layout="row" layout-wrap class="mdc-bg-blue-grey-300 md-padding">
                <div flex
                     class="pull-up-130"
                     ng-if="agendaCtrl.editingAgenda"
                     ng-repeat="day in agendaCtrl.editingAgenda.hearingDays">

                     <h1 class="md-headline no-margin text-center mdc-text-grey-100">{{ day.name }}</h1>
                     <h2 class="md-subhead no-margin text-center mdc-text-grey-100">{{ day.date }}</h2>

                    <ul flex
                        class="md-padding"
                        dnd-list="day.districts">
                        <li ng-repeat="district in day.districts"
                            dnd-draggable="district"
                            dnd-moved="day.districts.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="agendaCtrl.editingAgenda.selected = district"
                            ng-class="{'selected': agendaCtrl.editingAgenda.selected === district}">
                            <md-card ng-click="agendaCtrl.toggleControls(district)">
                                <dnd-nodrag>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <a href="javascript:void(0)">
                                                <md-icon dnd-handle class="mdc-text-grey-500 align-left">
                                                    grain
                                                </md-icon>
                                            </a>

                                            <h3 class="md-headline text-center">
                                                <!-- <md-icon>
                                                    event_note
                                                </md-icon> -->

                                                {{ district.name }}
                                            </h3>
                                        </md-card-title-text>
                                    </md-card-title>

                                    <md-card-content layout="row">
                                        <div layout="column" flex>
                                            <h2 class="text-center md-title">
                                                <md-icon class="mdc-text-grey-500">
                                                    view_list
                                                </md-icon>

                                                <strong>{{ district.categories.length }}</strong><br>
                                                <small class="font-weight-300">Categories</small>
                                            </h2>
                                        </div>

                                        <div layout="column" flex>
                                            <h2 class="text-center md-title">
                                                <md-icon class="mdc-text-grey-500">
                                                    short_text
                                                </md-icon>

                                                <strong>{{ agendaCtrl.totalItemsInDistrict(district) }}</strong><br>
                                                <small class="font-weight-300">Items</small>
                                            </h2>
                                        </div>

                                        <div layout="column" flex>
                                            <h2 class="text-center md-title">
                                                <md-icon class="mdc-text-grey-500">
                                                    timer
                                                </md-icon>

                                                <strong>{{ agendaCtrl.totalTimeForDistrict(district) }}</strong><br>
                                                <small class="font-weight-300">Est. Time</small>
                                            </h2>
                                        </div>
                                    </md-card-content>

                                    <md-card-actions layout="row" layout-align="space-between center" ng-show="district.viewControls" class="mdc-bg-blue-grey-800">
                                        <md-button ng-click="agendaCtrl.deleteDistrict(district)" class="mdc-text-cyan-300">
                                            <md-icon class="mdc-text-cyan-300">
                                                delete
                                            </md-icon>

                                            <!-- Delete -->
                                        </md-button>

                                        <md-button ng-click="agendaCtrl.editDistrict(district)" class="mdc-text-cyan-300">
                                            <md-icon class="mdc-text-cyan-300">
                                                edit
                                            </md-icon>

                                            <!-- Edit -->
                                        </md-button>
                                    </md-card-actions>
                                </dnd-nodrag>
                            </md-card>
                        </li>

                        <li class="dndPlaceholder">
                            <md-card layout="row" layout-align="center center" class="text-center mdc-bg-blue-grey-800 mdc-text-cyan-300">
                                <md-card-content>
                                    Drop District Here
                                </md-card-content>
                            </md-card>
                        </li>
                    </ul>

                    <h1 class="md-headline text-center mdc-text-grey-900">
                        <strong>{{ agendaCtrl.totalTimeForDay(day) }}</strong> min<br>
                        <small class="font-weight-300">Est. Time</small>
                    </h1>
                </div> <!-- end editingAgenda -->

                <div flex class="md-padding" ng-controller="districtController as districtCtrl" ng-if="agendaCtrl.editingDistrict">
                    <ol class="pull-up-130">
                        <li ng-repeat="category in agendaCtrl.editingDistrict.categories">
                            <md-card ng-click="districtCtrl.toggleCategoryControls(category)">
                                <md-card-title class="md-padding">
                                    <h4 class="no-margin">{{ category.title }}</h4>
                                </md-card-title>

                                <md-card-actions layout="row" layout-align="space-between center" class="mdc-bg-blue-grey-800" ng-show="category.viewControls">
                                    <md-button ng-click="districtCtrl.deleteCategory(category)" class="mdc-text-cyan-300">
                                        <md-icon class="mdc-text-cyan-300">
                                            delete
                                        </md-icon>

                                        Delete
                                    </md-button>

                                    <md-button ng-click="districtCtrl.editCategory(category)" class="mdc-text-cyan-300">
                                        <md-icon class="mdc-text-cyan-300">
                                            edit
                                        </md-icon>

                                        Edit
                                    </md-button>
                                </md-card-actions>
                            </md-card>
                        </li>
                    </ol>

                    <div ng-controller="categoryController as categoryCtrl" ng-if="districtCtrl.editingCategory">
                        <ol class="pull-up-130">
                            <li ng-repeat="item in categoryCtrl.editingCategory.items">
                                <md-card ng-click="categoryCtrl.toggleItemControls(item)">
                                    <md-card-title class="md-padding">
                                        <h4 class="no-margin">{{ item.title_english }}</h4>
                                    </md-card-title>

                                    <md-card-content>
                                        <p>{{ item.description_english }}</p>
                                    </md-card-content>

                                    <md-card-actions layout="row" layout-align="space-between center" class="mdc-bg-blue-grey-800" ng-show="item.viewControls">
                                        <md-button ng-click="categoryCtrl.deleteItem(item)" class="mdc-text-cyan-300">
                                            <md-icon class="mdc-text-cyan-300">
                                                delete
                                            </md-icon>

                                            Delete
                                        </md-button>

                                        <md-button ng-click="categoryCtrl.editItem(item)" class="mdc-text-cyan-300">
                                            <md-icon class="mdc-text-cyan-300">
                                                edit
                                            </md-icon>

                                            Edit
                                        </md-button>
                                    </md-card-actions>
                                </md-card>
                            </li>
                        </ol>
                    </div>
                </div> <!-- end editingDistrict -->

            </div> <!-- end row -->
        </div> <!-- end editingAgenda -->

        <div layout="column" flex layout-align="end end">
            <md-fab-speed-dial md-open="isOpen" md-direction="up" ng-class="selectedMode" flex="5" layout-align="center center">
                <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab">
                      <md-icon class="mdc-text-blue-grey-800">
                          add
                      </md-icon>
                  </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Add Item</md-tooltip>

                        <md-icon class="mdc-text-blue-600">
                            short_text
                        </md-icon>
                    </md-button>

                    <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Add Category</md-tooltip>

                        <md-icon class="mdc-text-blue-600">
                            view_list
                        </md-icon>
                    </md-button>

                    <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Add District</md-tooltip>

                        <md-icon class="mdc-text-blue-600">
                            event_note
                        </md-icon>
                    </md-button>

                    <md-button aria-label="Twitter" class="md-fab md-raised md-mini mdc-bg-blue-600">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Add Day</md-tooltip>

                        <md-icon class="mdc-text-blue-600">
                            today
                        </md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div> <!-- end row -->
    </div>
</md-content>
