    <md-content flex class="mdc-bg-blue-grey-200">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon class="md-icons">
                  menu
              </md-icon>
            </md-button>

            <h2>
              <span class="mdc-text-blue-grey-100">Agendas</span>
            </h2>

            <input ng-model="search" flex placeholder="search" class="mdc-text-grey-200">

            <md-button class="md-icon-button" aria-label="More">
              <md-icon class="md-icons">
                  more_vert
              </md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <div layout="row" class="md-padding">
            <div layout flex>
                <md-list class="85-vh block" flex>
                    <md-list-item ng-repeat="agenda in agendas | filter:search" ng-click="editAgenda(agenda)" class="mdc-text-blue-grey-800" flex>
                        <p>
                            <strong>{{ agenda.name_english }}</strong> {{ agenda.year }}
                        </p>

                        <md-divider></md-divider>
                    </md-list-item>
                </md-list> <!-- end flex -->
            </div> <!-- end flex -->

            <div layout="column" flex="75">
                <div layout="row" flex>
                    <md-card flex class="mdc-bg-blue-500" id="agenda-heading">
                        <md-card-content class="md-padding">
                            <div layout="row">
                                <md-input-container class="mdc-text-grey-100" flex="25" flex-offset="20">
                                    <label class="mdc-text-grey-100">Month</label>
                                    <md-select ng-model="newAgenda.month">
                                        <md-option ng-repeat="month in months" value="{{ month.id }}" class="mdc-text-grey-800">{{ month.name_english }}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="mdc-text-grey-100" flex="25" flex-offset="10">
                                    <label class="mdc-text-grey-100">Year</label>
                                    <input ng-model="newAgenda.year" type="number"  class="mdc-text-grey-100">
                                </md-input-container>
                            </div> <!-- end row -->
                        </md-card-content>
                    </md-card>
                </div>

                <div layout="row">
                    <md-card flex="80" flex-offset="10" class="pull-up-60">
                        <md-card-content>
                            <div layout="row">
                                <md-input-container class="mdc-text-blue-700" flex>
                                    <label class="mdc-text-blue-700">Venue Name</label>
                                    <input ng-model="newAgenda.venue_name" type="text"  class="mdc-text-blue-700 text-center" flex>
                                </md-input-container>
                            </div> <!-- end row -->


                            <div layout="row">
                                <md-input-container class="mdc-text-blue-700" flex>
                                    <label class="mdc-text-blue-700">Venue Address 1</label>
                                    <input ng-model="newAgenda.venue_address_1" type="text"  class="mdc-text-blue-700" flex>
                                </md-input-container>

                                <md-input-container class="mdc-text-blue-700" flex flex-offset="5">
                                    <label class="mdc-text-blue-700">Venue Address 2</label>
                                    <input ng-model="newAgenda.venue_address_2" type="text"  class="mdc-text-blue-700" flex>
                                </md-input-container>
                            </div> <!-- end row -->

                            <div layout="row">
                                <md-input-container class="mdc-text-blue-700" flex="50">
                                    <label class="mdc-text-blue-700">City</label>
                                    <input ng-model="newAgenda.venue_city" type="text"  class="mdc-text-blue-700" flex>
                                </md-input-container>

                                <div layout="row" flex flex-offset="5">
                                    <md-input-container class="mdc-text-blue-700" flex flex-offset="5">
                                        <label class="mdc-text-blue-700">State</label>
                                        <input ng-model="newAgenda.venue_state" type="text"  class="mdc-text-blue-700" flex>
                                    </md-input-container>

                                    <md-input-container class="mdc-text-blue-700" flex flex-offset="5">
                                        <label class="mdc-text-blue-700">Zip</label>
                                        <input ng-model="newAgenda.venue_zip" type="text"  class="mdc-text-blue-700" flex>
                                    </md-input-container>
                                </div>
                            </div> <!-- end row -->

                            <div layout="row">
                                <md-input-container class="mdc-text-blue-700" flex>
                                    <label class="mdc-text-blue-700">Latitude</label>
                                    <input ng-model="newAgenda.venue_latitude" type="text"  class="mdc-text-blue-700" flex>
                                </md-input-container>

                                <md-input-container class="mdc-text-blue-700" flex flex-offset="5">
                                    <label class="mdc-text-blue-700">Longitude</label>
                                    <input ng-model="newAgenda.venue_longitude" type="text"  class="mdc-text-blue-700" flex>
                                </md-input-container>
                            </div> <!-- end row -->

                            <div layout="row">
                                <md-input-container class="mdc-text-blue-700" flex>
                                    <label class="mdc-text-blue-700">Phone Number</label>
                                    <input ng-model="newAgenda.phone_number" type="text"  class="mdc-text-blue-700" flex>
                                </md-input-container>

                                <md-input-container class="mdc-text-blue-700" flex flex-offset="5">
                                    <label class="mdc-text-blue-700">District</label>
                                    <md-select ng-model="newAgenda.district">
                                        <md-option ng-repeat="district in districts" value="{{ district.id }}" class="mdc-text-grey-800">{{ district.name_english }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div> <!-- end row -->
                        </md-card-content>

                        <md-card-actions layout="row" layout-align="space-between center" class="mdc-bg-blue-900">
                            <md-button class="mdc-text-grey-100">
                                <md-button class="md-icon-button" aria-label="Settings">
                                  <md-icon class="md-icons mdc-text-grey-100">
                                      delete
                                  </md-icon>
                                </md-button>

                                Delete
                            </md-button>

                            <md-button flex class="mdc-bg-blue-900 mdc-text-grey-100" ng-click="addHearingDay()">
                                <md-icon class="md-icons mdc-text-grey-100">
                                    add
                                </md-icon>

                                Add a Hearing Day
                            </md-button>

                            <md-button class="mdc-text-grey-100"  ng-click="addNewAgenda()">
                                <md-button class="md-icon-button" aria-label="Settings">
                                  <md-icon class="md-icons mdc-text-grey-100">
                                      save
                                  </md-icon>
                                </md-button>

                                Save
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>

                <div ng-repeat="hearingDay in newAgenda.hearingDays track by $index">
                    <div layout="row" layout-align="space-around center">
                        <md-input-container class="mdc-text-grey-100" flex="50">
                            <label class="mdc-text-grey-800">Day</label>
                            <md-select ng-model="newDay.day">
                                <md-option ng-repeat="day in days" value="{{ day.id }}" class="mdc-text-grey-800">{{ day.name_english }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="row" ng-repeat="card in hearingDay.cards track by $index">
                        <md-card flex="80" flex-offset="10">
                            <md-card-header-text>
                                <md-input-container class="mdc-text-blue-800" flex="90" flex-offset="5">
                                    <label class="mdc-text-grey-100">District</label>
                                    <md-select ng-model="newCard.district">
                                        <md-option ng-repeat="district in districts" value="{{ district.id }}" class="mdc-text-grey-800">{{ district.name_english }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </md-card-header-text>

                            <md-card-content>
                                <ol>
                                    <li ng-repeat="category in card.categories track by $index">
                                        <md-input-container class="mdc-text-blue-800">
                                            <label class="mdc-text-blue-800">Category</label>
                                            <md-select ng-model="newCategory.category" class="mdc-text-grey-800">
                                                <md-option ng-repeat="category in categories" value="{{ category.id }}" class="mdc-text-grey-800">{{ category.name_english }}</md-option>
                                            </md-select>
                                        </md-input-container>

                                        <div layout="row" layout-align="space-around center">
                                            <md-button flex="50" class="mdc-bg-blue-900 mdc-text-grey-100" ng-click="addItem($parent.$parent.$index, $parent.$index, $index)">
                                                <md-icon class="md-icons mdc-text-grey-100">
                                                    add
                                                </md-icon>

                                                Add an Item
                                            </md-button>
                                        </div>

                                        <br><br>

                                        <ol>
                                            <li ng-repeat="item in category.items track by $index">
                                                <md-input-container class="mdc-text-blue-800">
                                                    <label class="mdc-text-blue-800">Title English</label>

                                                    <input ng-model="newItem.title_english" value="newItem.title_english" type="text"  class="mdc-text-grey-100">
                                                </md-input-container>

                                                <md-input-container class="mdc-text-blue-800">
                                                    <label class="mdc-text-blue-800">Blur English</label>

                                                    <input ng-model="newItem.description_english" value="newItem.description_english" type="text"  class="mdc-text-grey-100">
                                                </md-input-container>

                                                <md-input-container class="mdc-text-blue-800">
                                                    <label class="mdc-text-blue-800">Title Spanish</label>

                                                    <input ng-model="newItem.title_spanish" value="newItem.title_spanish" type="text"  class="mdc-text-grey-100">
                                                </md-input-container>

                                                <md-input-container class="mdc-text-blue-800">
                                                    <label class="mdc-text-blue-800">Blur Spanish</label>

                                                    <input ng-model="newItem.description_spanish" value="newItem.description_spanish" type="text"  class="mdc-text-grey-100">
                                                </md-input-container>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>

                                <div layout="row" layout-align="space-around center">
                                    <md-button flex="50" class="mdc-bg-blue-900 mdc-text-grey-100" ng-click="addCategory($parent.$index, $index)">
                                        <md-icon class="md-icons mdc-text-grey-100">
                                            add
                                        </md-icon>

                                        Add a Category
                                    </md-button>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div layout="row" layout-align="space-around center">
                        <md-button flex="50" class="mdc-bg-blue-900 mdc-text-grey-100" ng-click="addCard($index)">
                            <md-icon class="md-icons mdc-text-grey-100">
                                add
                            </md-icon>

                            Add a District
                        </md-button>
                    </div>
                </div>
            </div>
        </div> <!-- end .md-padding -->
    </md-content>
